@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

body{
  background-color: #F8F9FD;
  font-family: 'Quicksand';
  margin: 0;
  padding: 0;
}

.title {
  font-family: 'Quicksand';
  font-size: 20px;
  font-weight: 600;
}

.subtitle {
  font-family: 'Quicksand';
  font-size: 16px;
  font-weight: 500;
}

.date {
  font-family: 'Quicksand';
  font-size: 16px;
  font-weight: 400;
}

/* TOP NAVIGATION */
.topnav{
  background-color: #FFFFFF;
  width: 100%;
  height: auto;
  border-bottom: 2px solid #C6D8FF;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.topnav a{
  color: #000000;
  float: right;
  padding: 16px 40px 16px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
}

.topnav a:hover {
  color: #2563EB;
  background-color: #E4E9FF;
}

label.checkbox-label{
  margin-right: 20px;
  margin-left: 20px;
}

/* HOME */
.home{
  background-color: #F8F9FD;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  padding-top: 210px;
  padding-bottom: 210px;
}

.container-home{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-home{
  flex-basis: 50%;
}

.home h2{
  background: linear-gradient(to right, #2563EB, #7ABCF9 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0px 0px 0px 80px;
  font-size: 20px;
  font-weight: bold;
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

.home h1{
  background: linear-gradient(to right, #2563EB, #7ABCF9 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0px 0px 0px 80px;
  font-size: 80px;
  font-weight: 700;
  margin-block-start: 0em;
  margin-block-end: 0.1em;
}

.home p{
  padding: 0px 0px 0px 80px;
  margin-block-start: 0em;
  margin-block-end: 0.1em;
  text-align: justify;
  text-justify: inter-word;
  font-size: 24px;
  font-weight: 500;
  /* responsive text */
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.profile img{
  margin: 0px 80px 0px 0px;
  width: 450px;
  border-radius: 100%;
}

/* EXPERIENCES */
.accordion-page {
  background-color: #E4E9FF;
  padding-top: 80px;
  padding-bottom: 80px;
  height: auto;
}

.accordion-page h2{
  color: #2563EB;
  padding: 0px 0px 20px 80px;
  font-size: 28px;
  font-weight: 700;
}

/* ACCORDION */
.main-accordion {
  --horizontal-margin: 80px;
  margin-left: var(--horizontal-margin);
  margin-right: var(--horizontal-margin);
  width: auto;
  height: 100%;
  border: none;
  transition: all 0.4s;
  cursor: pointer;
}

.accordion{
  background-color: #F8F9FD;
  width: 100%;
  height: 100%;
  text-align: left;
  border: 1px solid #2563EB;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.accordion img {
  margin: 8px;
  width: 80px;  
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion span {
  margin-left: 10px;
}

.active, .accordion:hover {
  background-color: #C6D8FF;
}


.item {
  margin-bottom: 16px;
}

.panel {
  background-color: #A5C1FF;

  --base-margin: 8px;
  margin: var(--base-margin) var(--base-margin) 0 var(--base-margin);
  height: auto;
  width: auto;
  padding: 0 18px;
  font-size: 16px;
  overflow: hidden;
  border: 1px solid #2563EB;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.panel.not-ready{
  display: none;
}

.panel p {
  font-size: 16px;
  font-weight: 500;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.panel li {
  font-size: 16px;
  font-weight: 400;
}

.button {
  background-color: #2563EB;
  color: #FFFFFF;
  text-decoration: none;
  margin: 8px;
  padding: 10px 20px;
  border-radius: 100px;
  align-self: flex-end;
}

.button-group {
  display: flex;
  gap: 10px;
  align-self: flex-end;
}

/* GALLERY */
.gallery {
  height: auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

.container-gallery {
  padding: 0 80px;
}

.gallery h2{
  color: #2563EB;
  padding: 0px 0px 20px 0px;
  font-size: 28px;
  font-weight: 700;
}

.rounded-image {
  border-radius: 10%;
  overflow: visible;
}